.vim/*
.viminfo
.npm/*
.gem/*
.gvm
.rvm/*
.nvm
.pyenv/*
.forever
.bash_history
.local
.node-gyp
.env
*/.env
*/*/.env
*/*/*/.env
*/*/*/*/.env
*/*/*/*/*/.env
.meteor/*
.meteorite/*
.meteorsession
.cache/*
.nave/*
.ssh/*
*.com
.selected_editor
.forever
dev/*
log/*
tmp/*
log/*
