.vim/*
.vimrc
.viminfo
.npm/*
.gem/*
.rvm/*
.pyenv/*
.forever
.bash_history
.local
log/*
tmp/*
.meteor/*
.meteorite/*
.meteorsession
.cache/*
.nave/*
.git/*
.ssh/*
*.com
.forever
www.com-template
dev/*
